@using Abp.MultiTenancy
@using MostIdea.MIMGroup.Features
@model MostIdea.MIMGroup.Web.Areas.App.Models.Layout.ChatTogglerViewModel


<div class="topbar-item" >
    <div id="hospitalSelector" style="min-width:250px;"></div>
</div>