
@using System.Globalization
@using MostIdea.MIMGroup.Web.Areas.App.Models.Common.Modals
@using MostIdea.MIMGroup.Web.Areas.App.Models.HospitalVsUsers
@model CreateOrEditHospitalVsUserModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditHospitalVsUser")) : L("CreateNewHospitalVsUser")))

<div class="modal-body">
    <div id="HospitalVsUserInformationsTab">
        <form name="HospitalVsUserInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.HospitalVsUser.Id" />
            }
            
            <input type="hidden" name="hospitalId" id="hospitalId" value=""/>

            <div class="form-group">
                <label for="userId">@L("User")</label>
                @Html.DropDownList("userId", new SelectList(Model.HospitalVsUserUserList,"Id","DisplayName", (Model.IsEditMode ? Model.HospitalVsUser.UserId.ToString() : "")),@L("SelectAUser"), new { @class = "form-control" , @required="required" })
            </div>

        </form>
    </div>
</div>

<script>
    $("#hospitalId").val($("#HospitalId").val());
</script>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")